In [4]:
import pandas as pd

In [5]:
df = pd.read_csv('Life_Expectancy_Data.csv')
print (df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1649 entries, 0 to 1648
Data columns (total 22 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Country                          1649 non-null   object
 1   Year                             1649 non-null   int64
 2   Status                           1649 non-null   object
 3   Life expectancy                  1649 non-null   float64
 4   Adult Mortality                  1649 non-null   int64
 5   infant deaths                    1649 non-null   int64
 6   Alcohol                          1649 non-null   float64
 7   percentage expenditure           1649 non-null   float64
 8   Hepatitis B                      1649 non-null   int64
 9   Measles                          1649 non-null   int64
 10   BMI                             1649 non-null   float64
 11  under-five deaths                1649 non-null   int64
 12  Polio                            1649 non-null   int64
 13  Total expenditure                1649 non-null   float64
 14  Diphtheria                       1649 non-null   int64
 15   HIV/AIDS                        1649 non-null   float64
 16  GDP                              1649 non-null   float64
 17  Population                       1649 non-null   float64
 18   thinness  1-19 years            1649 non-null   float64
 19   thinness 5-9 years              1649 non-null   float64
 20  Income composition of resources  1649 non-null   float64
 21  Schooling                        1649 non-null   float64
dtypes: float64(12), int64(8), object(2)
memory usage: 283.6+ KB
None

In [6]:
print (df)

          Country  Year      Status  Life expectancy   Adult Mortality  \
0     Afghanistan  2015  Developing              65.0              263
1     Afghanistan  2014  Developing              59.9              271
2     Afghanistan  2013  Developing              59.9              268
3     Afghanistan  2012  Developing              59.5              272
4     Afghanistan  2011  Developing              59.2              275
...           ...   ...         ...               ...              ...
1644     Zimbabwe  2004  Developing              44.3              723
1645     Zimbabwe  2003  Developing              44.5              715
1646     Zimbabwe  2002  Developing              44.8               73
1647     Zimbabwe  2001  Developing              45.3              686
1648     Zimbabwe  2000  Developing              46.0              665

      infant deaths  Alcohol  percentage expenditure  Hepatitis B  Measles   \
0                62     0.01               71.279624           65      1154
1                64     0.01               73.523582           62       492
2                66     0.01               73.219243           64       430
3                69     0.01               78.184215           67      2787
4                71     0.01                7.097109           68      3013
...             ...      ...                     ...          ...       ...
1644             27     4.36                0.000000           68        31
1645             26     4.06                0.000000            7       998
1646             25     4.43                0.000000           73       304
1647             25     1.72                0.000000           76       529
1648             24     1.68                0.000000           79      1483

      ...  Polio  Total expenditure  Diphtheria    HIV/AIDS         GDP  \
0     ...      6               8.16           65        0.1  584.259210
1     ...     58               8.18           62        0.1  612.696514
2     ...     62               8.13           64        0.1  631.744976
3     ...     67               8.52           67        0.1  669.959000
4     ...     68               7.87           68        0.1   63.537231
...   ...    ...                ...          ...        ...         ...
1644  ...     67               7.13           65       33.6  454.366654
1645  ...      7               6.52           68       36.7  453.351155
1646  ...     73               6.53           71       39.8   57.348340
1647  ...     76               6.16           75       42.1  548.587312
1648  ...     78               7.10           78       43.5  547.358878

      Population   thinness  1-19 years   thinness 5-9 years  \
0     33736494.0                   17.2                 17.3
1       327582.0                   17.5                 17.5
2     31731688.0                   17.7                 17.7
3      3696958.0                   17.9                 18.0
4      2978599.0                   18.2                 18.2
...          ...                    ...                  ...
1644  12777511.0                    9.4                  9.4
1645  12633897.0                    9.8                  9.9
1646    125525.0                    1.2                  1.3
1647  12366165.0                    1.6                  1.7
1648  12222251.0                   11.0                 11.2

      Income composition of resources  Schooling
0                               0.479       10.1
1                               0.476       10.0
2                               0.470        9.9
3                               0.463        9.8
4                               0.454        9.5
...                               ...        ...
1644                            0.407        9.2
1645                            0.418        9.5
1646                            0.427       10.0
1647                            0.427        9.8
1648                            0.434        9.8

[1649 rows x 22 columns]